//put main body styles
body{
    font-family: 'Georgia', sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 1.5em;
    background: #f4f4f4;
}

#container{
    width: 860px;
    margin: 20px auto;
    overflow: auto;
    border: #ccc solid 1px;
    background: #fff;
    border-radius: 5px;
}

header{
    background: $primary-color;
    color: #fff;
    height: 90px;
}

header h1 {
    padding: 20px 0 0 10px;
}

nav {
    height: 30px;
    background: #000;
    color: #fff;
    padding-top: 10px;
}

nav li {
    float: left;
    padding: 0 20px 0 20px;

}

nav a {
    color: #fff;
}

section{
    min-height: 200px;

}

footer {
    text-align:center;
}